<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#1e3c72,#2a5298,#00c6ff);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 380px;
  padding: 35px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  color: white;
  transition: 0.4s;
}

.container:hover{
  transform: translateY(-5px);
}
h1{
  margin-bottom: 25px;
  font-size: 42px;
}

.search-box{
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

input{
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}

button{
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  transform: scale(1.05);
  background: #0056b3;
}

.weather-info{
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.8;
}

.weather-info h2{
  margin-bottom: 10px;
  color: #222;
}

.weather-info p{
  margin: 8px 0;
  font-size: 18px;
  color: #555;
}

@media(max-width: 500px){

  .search-box{
    flex-direction: column;
  }

  button{
    width: 100%;
  }

=======
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#1e3c72,#2a5298,#00c6ff);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 380px;
  padding: 35px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  color: white;
  transition: 0.4s;
}

.container:hover{
  transform: translateY(-5px);
}
h1{
  margin-bottom: 25px;
  font-size: 42px;
}

.search-box{
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

input{
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}

button{
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  transform: scale(1.05);
  background: #0056b3;
}

.weather-info{
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.8;
}

.weather-info h2{
  margin-bottom: 10px;
  color: #222;
}

.weather-info p{
  margin: 8px 0;
  font-size: 18px;
  color: #555;
}

@media(max-width: 500px){

  .search-box{
    flex-direction: column;
  }

  button{
    width: 100%;
  }

>>>>>>> 1063fd2 (updated weather app)
}